html,
body{
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
*,::before,::after{
    list-style: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}



.menu{
   grid-row: 1/3;
   display: flex;
   flex-direction: column;
   background-color: #1AA3D9;
   color: #FFFFFF;
}
.menu>*{
    margin-top: 50px;
    display: grid;
    gap: 10px;
    justify-content: space-between;
}
.settings>*,
.navigation>*{
    display: flex;
}
.settings>*>*,
.navigation>*>*{
    margin-right: 20px;
}


.search{
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
    align-self: center;
    justify-self: center;
}
.header{
    box-shadow: 0px 10px 10px 0px rgb(0,0,0,0.5);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 3fr 5fr;
    gap: 10px;
}
.header>*{
    border: 1px solid black;
}
.search-bar{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
input{
    grid-column: 2/3;
    border-radius: 20px;
    margin: 10px;
    background-color: #E2E8F0;
}
.buttons{
    display: flex;
    flex:1;
}
.buttons>button{
    border-radius: 20px;
    align-self: center;
    padding: 10px;
    padding-inline: 25px;
    margin: 10px;
    background-color: #1AA3D9;
    color: #FFFFFF;
    border: none;
}
button:hover{
    background-color: #FFFFFF;
    color: #1AA3D9;
    border: 1px solid #1AA3D9;
}



.main>*{
    border: 1px solid black;
}
.main{
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: #E2E8F0;
}
.projects{
    margin-top: 20px;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.card{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #FFFFFF;
}
.side{
    padding: 20px;
}
.side>*{
    border: 1px solid black;
    background-color: #FFFFFF;
}