html,
body{
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.container{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 5fr;
}


button:has(img){
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
    align-self: center;
    justify-self: center;
    width: 25px;
    height: 30px;
} 
button:has(img):hover{
    position: relative;
}
button:has(img) img:hover{
    height: 27px;
}



.menu .title{
    padding: 10px;
}
.menu{
   grid-row: 1/3;
   display: flex;
   flex-direction: column;
   background-color: #1AA3D9;
   color: #FFFFFF;
   font-size: 21px;
}
.menu>*{
    margin-top: 50px;
    display: grid;
}
.navigation,
.settings{
    padding: 10px;
}
.settings>div,
.navigation>div{
    display: flex;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    padding:5px;
}





.header{
    position: relative;
    box-shadow: 0 4px 2px 0px rgb(0,0,0,0.1);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 2fr;
}
.search-bar{
    display: grid;
    grid-template-columns: 1fr 9fr;
    height: 50px;
}
input{
    grid-column: 2/3;
    border-radius: 20px;
    margin: 10px;
    background-color: #E2E8F0;
    font-size: 18px;
}
.user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
.user>img[src^="img"]{
    height: 35px;
    border: 1px solid;
    border-radius: 25px;
}
.user-info>img{
    height: 55px;
    margin-left: 10px;
    align-self: center;
    border: 1px solid;
    border-radius: 27px;
}
.user-info{
    display: flex;
}
.user-info>div{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}
.buttons{
    display: flex;
    flex:1;
}
.buttons>button{
    border-radius: 20px;
    align-self: center;
    padding: 10px;
    padding-inline: 25px;
    margin: 10px;
    background-color: #1AA3D9;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #1AA3D9;
}
.buttons>button:hover{
    background-color: #FFFFFF;
    color: #1AA3D9;
}




.main{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 100px 1fr;
    background-color: #E2E8F0;
    padding-top: 20px;
}
.projects{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 30px;
}
.main .your-projects{
    grid-column: 1/4;
    padding-left: 20px;
    font-size: 25px;
}
.card{
    border-radius: 20px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 10fr;
    min-width: 200px;
    box-shadow: 0 4px 2px 0px rgb(0,0,0,0.1);
}
.spacer{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #F2AE2E;
    border-radius: 20px 0 0 20px;
}
.card>.content,
.card>.title{
    padding: 10px;
    margin-left: 10px;
}
.content{
    font-size: 18px;
    font-weight: lighter;
}
.options{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding: 5px;
}


.side{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    gap: 20px;
    padding: 10px;
}
.subtitle{
    font-size: 25px;
    padding: 15px;
}
.annauncements .title,
.trending .title{
    font-size: 18px;
    font-weight: bold;
}
.annauncements,
.trending{
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 2px 0px rgb(0,0,0,0.1);
}
.trending .user{
    display: flex;
    justify-content: space-evenly;
}
.trending .user>img[src^="img"]{
    height: 40px;
    border-radius: 35px;
}